Ques: A Python program to scrape data for “Data Analyst” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location, company_name,
experience_required. You have to scrape first 10 jobs data.

In [1]:
#importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
url = "https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"
page = requests.get(url)

In [3]:
soup = BeautifulSoup(page.content)

In [6]:
job_title = []  #empty list
job_location = []  #empty list
company_name = []  #empty list
experience_required = []   #empty list

In [7]:
titles = soup.find_all("a", class_="title fw500 ellipsis")
for i in titles:
    job_title.append(i.text)

In [8]:
loc = soup.find_all('span', title_="Bangalore/Bengaluru")
for i in loc:
    job_location.append(i.text)

In [9]:
company = soup.find_all('a', class_="subTitle ellipsis fleft")
for i in company:
    company_name.append(i.text)

In [10]:
experience = soup.find_all('span', class_="ellipsis fleft fs12 lh16")
for i in experience:
    experience_required.append(i.text)

In [11]:
naukri_com=pd.DataFrame({})
naukri_com['job_title']=job_title[:10]
naukri_com['job_location']=job_location[:10]
naukri_com['company_name']=company_name[:10]
naukri_com['experience_required'] =experience_required[:10]
naukri_com

Empty DataFrame
Columns: [job_title, job_location, company_name, experience_required]
Index: []

Ques2: a python program to scrape data for “Data Scientist” Job position in 
“Bangalore” location. You have to scrape the job-title, job-location,
company_name, full job-description. You have to scrape first 10 jobs data.

In [13]:
url = "https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"
page = requests.get(url)

In [14]:
soup = BeautifulSoup(page.content)

In [15]:
job_title = []  #empty list
job_location = []  #empty list
company_name = []  #empty list
job_description = []   #empty list

In [17]:
for i in soup.find_all("a", class_="title fw500 ellipsis"):
    job_title.append(i.text)

In [20]:
for i in soup.find_all('span', title_="Bangalore/Bengaluru"):
    job_location.append(i.text)
for i in soup.find_all('a', class_="subTitle ellipsis fleft"):
    company_name.append(i.text)

In [21]:
for i in soup.find_all('div', class_="job-description fs12 grey-text"):
    job_description.append(i.text)

In [22]:
naukri_profile=pd.DataFrame({})
naukri_profile['job_title']=job_title[:10]
naukri_profile['job_location']=job_location[:10]
naukri_profile['company_name']=company_name[:10]
naukri_profile['job_description']=job_description[:10]
naukri_profile

Empty DataFrame
Columns: [job_title, job_location, company_name, job_description]
Index: []

scrape full job description

In [3]:
#importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [5]:
url = "https://www.naukri.com/job-listings-software-developer-data-scientist-nlp-machine-learning-dot-net-cunesoft-india-private-limited-bangalore-bengaluru-3-to-8-years-190121001281?src=jobsearchDesk&sid=16283148781932329&xp=1&px=1"
page = requests.get(url)

In [6]:
soup = BeautifulSoup(page.content)

In [7]:
title = soup.find_all("h1", class_="jd_header-title")

In [9]:
job_title = [] #empty list
for i in job_title:
    for j in i.find_all("a"):
        job_title.append(j.text)

In [11]:
description = soup.find_all("div",class_="dang-inner-html")
job_description = [] #empty list
for k in description:
    a=k.text.replace('(','')
    job_description.append(a.replace(')',''))

In [12]:
full_job_description=pd.DataFrame({})
full_job_description['job_title']=job_title
full_job_description['job_description']=job_description 
full_job_description

Empty DataFrame
Columns: [job_title, job_description]
Index: []

In [ ]:
scrape the job-title, job-location, company_name,
experience_required.

In [13]:
#importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [21]:
#send get request to the webpage server to get the source code of the page
url = "https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%20ncr&ctcFilter=3to6&cityTypeGid=9508"
page = requests.get(url)
soup = BeautifulSoup(page.content)

job_title = []  #empty list
job_location = []  #empty list
company_name = []  #empty list
experience_required = []   #empty list

In [22]:
title = soup.find_all("a", class_="title fw500 ellipsis")
for i in title:
    job_title.append(i.text)

In [23]:
location = soup.find_all('span',class_="ellipsis fleft fs12 lh16")
for i in location:
    job_location.append(i.text)

In [24]:
company = soup.find_all('a',class_="subtitle ellipsis fleft")
for i in company:
    company_name.append(i.text)

In [25]:
experience = []
experience = soup.find_all('a',class_="ellipsis fleft fs12 lh16")
for i in experience:
    experience_required.append(i.text)

In [26]:
naukri_data = pd.DataFrame({})
naukri_data['job_title']=job_title[:10]
naukri_data['job_location']=job_location[:10]
naukri_data['company_name']=company_name[:10]
naukri_data['experience_required']=experience_required[:10]       
naukri_data

Empty DataFrame
Columns: [job_title, job_location, company_name, experience_required]
Index: []

You have to scrape Company name, Number of salaries, Average salary, Min
salary, Max Salary.

In [27]:
#importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [29]:
url = "https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"
page = requests.get(url)
soup = BeautifulSoup(page.content)

job_title = []  #empty list
company_name = []  #empty list
salary_detail = []  #empty list

In [30]:
title = soup.find_all("a", class_="joblink css-1rd3saf eigr9kq2")
for i in title:
    job_title.append(i.text)
    
     
company = soup.find_all("a",class_="css-12wjgv e1n63ojh0 jobLink")
for i in company:
    company_name.append(i.text)
    
     
salary = soup.find_all("span",class_="css-1imh2hq elwijj242")
for i in salary:
    salary_detail.append(i.text)
    


# Make data frame
glassdoor=pd.DataFrame({})
glassdoor['job_title']=job_title
glassdoor['company_name']=company_name
glassdoor['salary_detail']=salary_detail
glassdoor

Empty DataFrame
Columns: [job_title, company_name, salary_detail]
Index: []

first 100 sunglasses listings on flipkart.com. You have to 
scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount %

In [31]:
url = "https://www.flipkart.com/search?q=sunglasses%20&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=off&as=off"
page = requests.get(url)

In [34]:
soup = BeautifulSoup(page.content)
brand_name = []  #empty list
product_description = []    #empty list
price_detail = []   #empty list
discount = []   #empty list

In [35]:
for i in soup.find_all("span",class_="G6XhRU"):
    brand_name.append(i.text)

In [36]:
for i in soup.find_all("span",class_="B_NuCI"):
    product_description(i.text)
for i in soup.find_all("div",class_="_30jeq3 _16jk6d"):
    price_detail.append(i.text)

In [38]:
for i in soup.find_all("div",class_="_3Ay6Sb _31Dcoz pZkvcx"):
    discount.append(i.text)

In [39]:
sunglasses=pd.DataFrame({})
sunglasses['brand_name']=brand_name[:100]
sunglasses['product_description']=product_description[:100]
sunglasses['price_detail']=price_detail[:100]
sunglasses['discount'] = discount[:100]
sunglasses

Empty DataFrame
Columns: [brand_name, product_description, price_detail, discount]
Index: []

scrape data from flipkart
1. Rating 
2. Review_summary 
3. Full review
You have to scrape this data for first 100 reviews

In [51]:
#importing Libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [40]:
url = "https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace"
page = requests.get(url)

In [41]:
soup = BeautifulSoup(page.content)
brand_name = []  #empty list
rating = []    #empty list
review_summary = []   #empty list
full_review = []   #empty list

In [42]:
for i in soup.find_all("span", class_="B_NuCI"):
    brand_name.append(i.text)

In [47]:
for i in soup.find_all("div", class_="_3LWZ1K"):
    rating.append(i.text)

In [48]:
for i in soup.find_all("div", class_="_2QKOHZ"):
    review_summary.append(i.text)

In [49]:
for i in soup.find_all("div", class_="t-ZTKy"):
    full_review.append(i.text)

In [52]:
iphone=pd.DataFrame({})
iphone['brand_name']=brand_name
iphone['rating']=rating
iphone['review_summary']=review_summary
iphone['full_review'] = full_review[:100]
iphone

ValueError: Length of values (0) does not match length of index (1)